@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Ubuntu, sans-serif;
		text-transform: capitalize;
	}

	/* todo create grid or base layout, plus typography base file */
	.container-margin {
		margin: 0 80px;
		max-width: 1500px;
	}

	@media screen and (max-width: 800px) {
		.container-margin {
			margin: 0 24px;
		}
	}
}
